*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
               
                width: 100% ;
                height: 100%;
                margin: 0;
                padding: 0;
                background-color: #f8f9fe!important;
                 overflow-x:hidden;
            }
.stat-widget-one{
    margin-left: 10px;
}
#one{
  width: 20%;
}
.hamburger.sidebar-toggle{
    margin-top: -30%;
}
.ti-email{
    position: absolute;
    margin-top: -34px;
}
.ti-bell{
    position: absolute;
    margin-top: -10px;
}
.user-avatar{
    display: block;
margin-top: 17px;
}
#main-content{
    width: 97.1%;

    margin-left: 1%;
}
.hamburger.sidebar-toggle{
    margin-top: -30%;
    color: white;
}


@media (max-width: 768px) {
  .card {
    display: inline-block;
    width: 100%;
  }
}
@media (max-width: 360px) {
  .stat-widget-five .stat-heading {
    padding-left: 0;
  }
  .stat-widget-two .stat-digit {
    font-size: 16px;
  }
  .stat-widget-two .stat-text {
    font-size: 14px;
  }
  .stat-widget-three .stat-digit {
    font-size: 20px;
  }
  .stat-widget-four .stat-heading {
    font-size: 18px;
  }
  .stat-widget-three .stat-icon {
    padding: 20px;
  }
}
.fas.fa-id-card{
font-size:22px;
}
.fas.fa-chart-line{
  font-size:24px;
}
.bi.bi-cart-x-fill{
   font-size:24px;
}
.fas.fa-sign-out-alt{
  font-size:22px;
}
.sidebar-hide .sidebar.sidebar-hide-to-small {
    width: 60px;
    left: 0;
    top: 0px;
    position: -webkit-sticky;
  position: sticky;
}

.sidebar-hide .sidebar.sidebar-hide-to-small, .sidebar-hide .sidebar.sidebar-hide-to-small .nano, .sidebar-hide .sidebar.sidebar-hide-to-small .nano-content {
    
    overflow: visible;
    line-height: 0;
    height:667px;
    /*background: #fff;*/
}
.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content{
    margin-top: 30px;
}
.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul>li>a {

    padding: 0;
    text-align: center;
    padding: 12px 0;
    line-height: 0;
    margin-top: 0px;


}
.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul>li>a>i {
font-size: 16px;
}
#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  margin: 50px auto;
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}

.container-title1{
    position: absolute;
    margin-top: -20px;
    margin-left:-20px;
    width: 100%;
     background-color:#f2f3f4;
    border-style: solid;
    border-width:1px;
    border-color:#f1f1f1;
    color:black;
}
.container-title1 h5{
    padding-top: 1.5%;
    padding-bottom: .5%;
    font-family: arial;
    padding-left: 2%;
    font-size: 16px;
}
.sub-title{
    color: red;
  margin-top: -10%;
  font-size: 14px;
}

#row1{
    margin-top: 2.8%;
    width: 95%;
  margin-left:2.6%;
}
#row1 label{
     padding-right: 2%;
      margin-top: 1%;
}

#row2{
    margin-top: 2.2%;
    width: 90.5%;
  margin-left:7%;
}
#row2 label{
     padding-right: 2%;
      margin-top: 1%;
}
#row3{
    margin-top: 2.2%;
    width: 90.5%;
  margin-left:7%;
}
#row3 label{
     padding-right: 2%;
      margin-top: 1%;
}
#row4{
    margin-top: 2.2%;
    width: 89.8%;
  margin-left:7.9%;
}
#row4 label{
     padding-right: 2%;
      margin-top: 1%;
}

#row5{
    margin-top: 2.2%;
    width: 88%;
  margin-left:9.7%;
}
#row5 label{
     padding-right: 2%;
      margin-top: 1%;
}
#row6{
    margin-top: 2.2%;
    width: 92.4%;
  margin-left:5.3%;
}
#row6 label{
     padding-right: 2%;
      margin-top: 1%;
}


#file-catcher{
margin-top: 8%;
}
#add_supplier:hover{
      transform: scale(1.1);

}
#aa{
    color: white;
}