*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
               
                width: 100% ;
                height: 100%;
                margin: 0;
                padding: 0;
                background-color: #f8f9fe!important;
                 overflow-x:hidden;
            }
.stat-widget-one{
    margin-left: 10px;
}
#one{
  width: 20%;
}
.hamburger.sidebar-toggle{
    margin-top: -30%;
}
.ti-email{
    position: absolute;
    margin-top: -34px;
}
.ti-bell{
    position: absolute;
    margin-top: -10px;
}
.user-avatar{
    display: block;
margin-top: 17px;
}
#main-content{
    width: 97.1%;

    margin-left: 1%;
}
#div-for-entries-show{
    margin-left: 3px;
    margin-top: 2.6%;
    width: 100%
}

.label-for-show{
    margin-top: 7px;
}
.label-for-entries{
    display: block;
    margin-left: 90px;
    margin-top: -30px;
}
.form-control{
    border-style: solid;
    border-color: #999999;
}
.search-label{
    margin-left: 10px;
    margin-top: 8px;
}
.search-input{
    height: 35px;
    border-style: solid;
    border-color: #999999;
    border-width: 1px;
}


#bootstrap-data-table-export{


background-color: white;
    font-size: 14px;
    max-width: 100%;
  border-style: solid;
    border-color:white;
    border-width: 1px;
    font-family: arial;

}
.bootstrap-data-table-panel{
    display: block;
}

#bootstrap-data-table-export tr{
    background-color: white;


    
}
#bootstrap-data-table-export th{
    background-color:#343957;
    color: white;
    border-style: none;
    font-weight: normal;
    height: 40px;
}
#bootstrap-data-table-export td{
  border-style: solid;border-color: #adadad;
    border-right-style:none ;
    border-left-style: none;

}
#bootstrap-data-table-export{
    border-style: solid ;

}



.ti-pencil{
margin-left: 2%;
}
.hamburger.sidebar-toggle{
    margin-top: -30%;
}


@media (max-width: 768px) {
  .card {
    display: inline-block;
    width: 100%;
  }
}
@media (max-width: 360px) {
  .stat-widget-five .stat-heading {
    padding-left: 0;
  }
  .stat-widget-two .stat-digit {
    font-size: 16px;
  }
  .stat-widget-two .stat-text {
    font-size: 14px;
  }
  .stat-widget-three .stat-digit {
    font-size: 20px;
  }
  .stat-widget-four .stat-heading {
    font-size: 18px;
  }
  .stat-widget-three .stat-icon {
    padding: 20px;
  }
}
.fas.fa-id-card{
font-size:22px;
}
.fas.fa-chart-line{
  font-size:24px;
}
.bi.bi-cart-x-fill{
   font-size:24px;
}
.fas.fa-sign-out-alt{
  font-size:22px;
}
.sidebar-hide .sidebar.sidebar-hide-to-small {
    width: 60px;
    left: 0;
    top: 0px;
    position: -webkit-sticky;
  position: sticky;
}

.sidebar-hide .sidebar.sidebar-hide-to-small, .sidebar-hide .sidebar.sidebar-hide-to-small .nano, .sidebar-hide .sidebar.sidebar-hide-to-small .nano-content {
    
    overflow: visible;
    line-height: 0;
    height:667px;
    /*background: #fff;*/
}
.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content{
    margin-top: 30px;
}
.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul>li>a {

    padding: 0;
    text-align: center;
    padding: 12px 0;
    line-height: 0;
    margin-top: 0px;


}
.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content>ul>li>a>i {
font-size: 16px;
}
#inventory-details th{
}
#inventory-details tr td{
    width: 50%;
  background-color: white;
}
#add-new-stock .modal-body .row{
         width: 80%;
         margin-left: 10%;
         margin-top: 3%;
}
#add-new-stock .modal-body label{
         margin-top: 2%;
     }
#batch_count{
    width: 49%;
    border-style: none;
    background-color:#4169E1;
    color: white;
    height: 25px;
    border-radius:15px 15px 15px 15px;
   
}
#batch_count:hover{
    background-color:#6A5ACD;
}
#batch-item .table-header{
    font-weight: normal;
}
#batches .modal-lg {
    max-width: 80% !important;
}
#batch-item tr td{
    background-color: white;
}
#bootstrap-data-table-export tr td a{
font-weight: bold;
}

#view-suggestion-reorder .modal-dialog{
    max-width: 50% !important;
}

#batches #batch-item th{
    background-color:#343957;
    color: white;
    border-style: none;
    font-weight: normal;
    height: 40px;
}
#on-shelf-modal .modal-dialog{
     max-width: 55% !important;
   
}
#batch-location tr td{
    background-color: white;
}

#on-shelf-modal #batch-item th{
  background-color:#343957;
    color: white;
    border-style: none;
    font-weight: normal;
}
#on-shelf-modal{
     overflow-y:auto;
}
#flexCheckDisabled{
   margin-left: -3%;
   height: 17px;
}
#batch-item td{
        border-right: none;
        border-left: none;
        border-top: none;
}
#on-shelf-modal select{
border-color: rgba(171,171,171,255);
}
#add-qty-shelf-table td{
background-color: white;
 border-right: none;
        border-left: none;
        border-top: none;
    ;
}
#add-qty-shelf-table th{
    background-color:#343957;
    color: white;
    border-style: none;
    font-weight: normal;
    height: 40px;
}
#add-qty-shelf-table tr td:first-child {
    width: 40%;
}
#storage{
line-height: 2;

}
#add-qty-shelf-table-no-monitor th{
    background-color:#343957;
    color: white;
    border-style: none;
    font-weight: normal;
    height: 40px;
}
#add-qty-shelf-table-no-monitor tr td:first-child {
    width: 40%;
}
#add-qty-shelf-table-no-monitor td{
    background-color: white;
}
#inventory-details{
    width: 98%;
    margin-left: 1%;
}
#inventory-details th{
    background-color:#343957;
    color: white;
    border-style: none;
    font-weight: normal;
    height: 40px;
}

#inventory-details td{
    background-color: white;
          border-right: none;
        border-left: none;
        border-top: none;

}


#inventory-details tr td:first-child {
    width: 40%;
        border-left: none;
        border-top: none;
        border-right: none;
}
#prices-table-change td{
    background-color: white;
          border-right: none;
        border-left: none;
        border-top: none;
}

    #prices-table-change th{
    background-color:#343957;
    color: white;
    border-style: none;
    font-weight: normal;
    height: 40px;
}
#prices-table-change tr td:first-child{
width: 30%;
background-color: white; 
  
}
#prices-table-change tr td:second-child{
    background-color: white;
             
}

#price-changes-tab .modal-dialog{
    max-width: 50% !important;
}

#price-changes-tab{
  overflow-y:auto;
}
.input-group.input-group-sm.mb-3{
    width:45% ;

}
.input-group.input-group-sm.mb-3 input{
 border-color:#5f6265;
    
}
.input-group.input-group-sm.mb-3 span{
 border-color:#5f6265;
 border-left: none  ;
 background-color: #343957;
 color: white;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;    
}
#select-rule{
    height: 35px;
    width: 70%;
    border-color:#5f6265;
}
#new-price{
       border-color:#5f6265;
}
#edit-label-barcode input{
  border-color:#5f6265;
}
#edit-label-barcode select{
  border-color:#5f6265;
}
#button-generate-barcode{
    border-top-left-radius: 0px;
    border-bottom-left-radius:0px ;
}
#reorder-level-box{
    background-color: #FFCCCC;
}
#lower-stock-box{
    margin-left: 20px;
    background-color: #c9a0dc;

}
#no-stock-box{
    margin-left: 20px;
    background-color:#eeeeee;
}
#batches-box{
    margin-left: 20px;
    background-color:red;
}
#replesnish-box{
       margin-left: 20px;
    background-color:#fdfd96;
}
#alert-div{
    margin-left:0%;
    margin-top: 2%;
}
#bootstrap-data-table-export{
    font-family: arial;
}
#expired{

background-color:#ff9797 ;
}

#to-expired{
   margin-left: 20px;
background-color:  #C0C0C0;}

#total-label{
    margin-left: 5px;
    margin-top: -1%;
     font-size: 13px;
     font-weight: bold;
     color: black;
     margin-left: 8px;
   background-color:#17a2b8;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
     border-radius: 50%;
     color: white;

     height: 27px;
}

bootstrap-data-table-export tr td:nth-child(3) {

}
#reorder-level-td{
    text-align: center;
}
#reorder-level-qty{
    text-align: center;
}
#on-shelf-qty{
     text-align: center; 
}
#replenish-qty{
       text-align: center; 
}
#inventory-total{
    text-align: center; 
}
#plus-batch-button{
    height: 32px;
    width: 28px;
    margin-top: -5px;
    background-color:#4169e1;
    border-style: none;
    margin-left: 4px;
}
#view-button{
    height: 32px;
  width: 28px;
    margin-top: -5px;
    background-color:#0000eb;
    border-style: none;
    margin-left: 0px;
}
#delete-button{
    height: 32px;
  width: 28px;
    margin-top: -5px;
    background-color:#0000eb;
    border-style: none;
    margin-left: 0px;
}
.table-header{
position: sticky;
top: 0;

}
#form-table{
    margin-top: 1%;
 height:370px;   
  overflow-y:auto;
  
}


/* Hide scrollbar for Chrome, Safari and Opera */
#form-table::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#form-table {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.dropdown-item{
    
    font-size: 15px;
}
.dropdown-toggle,
.dropdown-menu {
  width: 100%;
}

.dropdown-menu {
    width: 230px !important;
   
}